<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="queryscore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <queryscore.Properties.Settings>
            <setting name="queryscore_cxcj_ahxkp_cjcx_webserver" serializeAs="String">
                <value>http://210.30.208.140/ahxkp_cjcx_webserver.asmx</value>
            </setting>
            <setting name="queryscore_chafen_ahxkp_cjcx_webserver" serializeAs="String">
                <value>http://210.30.208.140/ahxkp_cjcx_webserver.asmx</value>
            </setting>
        </queryscore.Properties.Settings>
    </applicationSettings>
</configuration>